

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Open Sans Condensed", Monaco, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Sansita, "Lucida Grande", sans-serif;
}
/*set background colors for header and footer and set spacing*/
header, footer {
    background-color: orchid;
    padding: 2px;
}
@media screen and (min-width: 480px) {
    header, footer {
        background-color: lightgreen;
    }
}
@media screen and (min-width: 32px, max-width:55em) {
    body {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: "Open Sans Condensed", Monaco, monospace;
        background-color: yellow;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Sansita, "Lucida Grande", sans-serif;
    }
    header, footer {
        background-color: blue;
    }

}

@media screen and(min-width: 55em) {
    body {
        background-color: orange;
    }

}
