

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Open Sans Condensed", Monaco, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Sansita, "Lucida Grande", sans-serif;
}
/*set background colors for header and footer and set spacing*/
header, footer {
    background-color: antiquewhite;
    padding: .5em; /* 1em = font size, in this case, 20px */
}
